<h1><%= Work.model_name.human %>管理</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= t Work.human_attribute_name(:site_type) %></th>
      <th><%= t Work.human_attribute_name(:title) %></th>
      <th><%= t Work.human_attribute_name(:reward_min) %></th>
      <th><%= t Work.human_attribute_name(:reward_max) %></th>
      <th><%= t Work.human_attribute_name(:status) %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @works.each do |work| %>
      <tr>
        <td><%= work.id %></td>


        <td><%= work.site_type_i18n %></td>



        <td><%= work.title.truncate(20) %></td>



        <td><%= work.reward_min %></td>



        <td><%= work.reward_max %></td>



        <td><%= work.is_finish? ? "終了" : "受付中" %></td>

        <td>
          <%= link_to '表示', work, class: "btn btn-secondary" %>
          <%= link_to '編集', edit_work_path(work), class: "btn btn-primary" %>
          <%= link_to '削除', work, method: :delete, class: "btn btn-danger", data: { confirm: '本当によろしいですか？' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_work_path, class: "btn btn-success" %>
